##ignore this file##
/target
/build
/package
/apollo/cmake/targets
/apollo/cmake/build

/apollo/src/ui/node_modules
/apollo/src/ui/www/cache
/apollo/src/ui/install/install.lock

.idea
.vs
.vscode
*.pyc
.DS_Store
tags

project_thrift

CppProperties.json

/apollo/src/genpy
/apollo/src/py/packages/Common/Linux_el7_x64/tzlocal-1.3.tar.gz
/.svn
/SVNUpdate.bat
/apollo/src/ui/.svn
/apollo.sln
/apollo.VC.db
/apollo.VC.VC.opendb
/.vs
/apollo/apollo.vcxproj
/apollo/apollo.vcxproj.filters
/apollo/apollo.vcxproj.user
